/*........
google-font
............ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*...........
common-styles
.............*/
body{
    font-family: 'Poppins', sans-serif;
}
/*...................
live watch part sytles
...................... */
.watch-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #161616;
    border-radius: 30px;
    margin-left: 110px;
    margin-right: 128px;
    margin-top: 50px;
    margin-bottom: 132px;
}
.watch-live{
    margin-top: 91px;
    margin-left: 67px;
}
.section-title{
    color: #FFFFFF;
    
}
.watch-live p{
    color: #FFFFFF; 
    font-size: 16px;
    margin-bottom: 30px;
}
.watch-live a{
    text-decoration: none;
    background: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px;
}

/*...................
Navigation bar styles
.....................*/
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background: #161616;
    border-radius: 10px;
  }
  
.nav-bar li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #FFFFFF;
  }
 
li a:hover:not(.active) {
    background-color: #DD0000;
    color: white;
  }
.nav-blog-container{
    display: flex;
    margin-left: 40px;
    margin-bottom: 173px;
}
.blog-container{
    margin-left: 50px;
    margin-right: 128px;
    column-gap: 20px;   
}
 .blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 19px;
    width: 50%;
 }
.blog{
    width: 312px;
    height: 362px;
}
.blog-button{
    background-color: #DD0000;
}

.blog-img img{
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}
button{
    text-decoration: none;
    background-color: #FFFFFF;
}
button a{
    text-decoration: none;
    color: #161616;
}
.blog-info .fa-message {
    margin-left: 80px;
}
/* 
Footer Sytles
 */
 footer{
    background: #161616;
    height: 401px;
 }
.footer h1{
    text-align: center;
    color: #FFFFFF;
    padding-top: 70px;
}
hr{
    margin-top: 140px;
    
}
.footer-info{
    text-align: center;
    margin-left: 10px;
    padding-left: 50px;
    margin-top: 50px;
}
.footer-info a{
    text-decoration: none;
    margin: 20px;
    color: #B9B9B9;
}
/* Media-Quriye */

/* Mobile Device */
@media screen and (max-width:688px) {
    .watch-container{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
    }
    .watch-live p{
        color: #FFFFFF; 
        font-size: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 50%
    }
    blog-container{
        grid-template-columns: repeat(1,1fr);
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}